.header-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 2.5rem;
  height: var(--nav-height);
}

.header-menu {
  display: none;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-logo {
  height: 2em;
  width: 2em;
}

.header-button {
  color: var(--highlight-color);
  background-color: transparent;
  border: 0.063rem solid var(--highlight-color);
  border-radius: var(--border-radius);
  font-size: var(--fz-sm);
  font-family: var(--menu-font);
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: var(--transition);
  padding: 0.75rem 1rem;
  margin-left: 0.938rem;
  width: max-content;
}

.nav-list {
  display: flex;
  list-style: none;
}

/* Breakpoints */
@media screen and (min-width: 48rem) {
  .header-menu {
    display: flex;
    align-items: center;
  }
}
