:root {
  --primary-color: #0a192f;
  --sidebar-color: #112240;
  --highlight-color: rgb(100 255 218);
  --menu-text-color: #bbc5e5;
  --header-spacing: 2rem;
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  --menu-font: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
  --border-radius: 0.25rem;
  --fz-sm: 0.875rem;
}

/* https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html,
body {
  height: 100%;
  background-color: var(--primary-color);
}

html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizespeed;
  line-height: 1.5;
  padding: 0 var(--header-spacing);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* App */
#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Header */
.header-menu {
  display: none;
}

.header-container {
  display: flex;
  flex-direction: row;
  padding-top: var(--header-spacing);
}

.header-logo {
  height: 2em;
  width: 2em;
}

.header-filler {
  flex: 1;
}

/* Hamburger menu */
.hamburger-menu {
  display: block;
}

main {
  flex: 1;
}

/* Misc */
.blur {
  filter: blur(0.313rem) brightness(0.7);
  transition: var(--transition);
  pointer-events: none;
  user-select: none;
}

/* Breakpoints */
@media screen and (min-width: 48rem) {
  .header-menu {
    display: block;
  }

  .hamburger-menu {
    display: none;
  }
}
