:root {
  --primary-color: #0a192f;
  --sidebar-color: #112240;
  --highlight-color: rgb(100 255 218);
  --menu-text-color: #bbc5e5;
  --header-spacing: 2rem;
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  --menu-font: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
  --border-radius: 0.25rem;
  --fz-xxs: 0.75rem;
  --fx-xs: 0.813rem;
  --fz-sm: 0.875rem;
  --fz-lg: 1.125rem;
  --nav-height: 6.25rem;
  --text-line-height: 1.056;
  --nav-scroll-height: 4.375rem;
  --navy-shadow: rgba(2 12 27 / 70%);
  --light-slate: #a8b2d1;
}

/* https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* TODO : Delete */

/* The following is for skip link debugging */

/* :not(.skip-link):focus {
  outline: 5px solid red;
} */

/* Set core root defaults */
html,
body {
  height: 100%;
  background-color: var(--primary-color);
  line-height: var(--text-line-height);
}

html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizespeed;
  line-height: 1.5;
}

a {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  transition: var(--transition);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* App */
#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Hamburger menu */
.hamburger-menu {
  display: block;
}

main {
  flex: 1;
  padding: 2rem 6.25rem 0;
}

/* Misc */
.blur {
  filter: blur(0.313rem) brightness(0.7);
  transition: var(--transition);
  pointer-events: none;
  user-select: none;
}

/* Link to youtube video about how to implement skip-link */

/* https://www.youtube.com/watch?v=VUR0I5mqq7I */
.skip-link {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: #333;
  color: white;
  padding: 0.5rem;
  translate: 0 -100%;
  transition: translate 150ms ease-in-out;
}

.skip-link:focus {
  translate: 0;
}

/* Breakpoints */
@media screen and (min-width: 48rem) {
  .hamburger-menu {
    display: none;
  }
}
